
#logo{
    position: absolute; 
	left: 40%; 
	top: 30px; 
}




.d-grid{
    
    display: flex;
    justify-content: center; /* Alinha o conteúdo ao centro horizontalmente */
    margin-top: 20px;
}