{% extends 'base.html'%}

{%block conteudo%}

<form action="{% url 'add_produtos' %}" method="post" class="my-4">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-12 ">
            {{ form.nome }}
        </div>
        <div class="col-md-12">
            {{ form.preco }}
        </div>
        <div class="col-md-12 ">
            {{ form.descricao }}
        </div>
        <div class="col-md-12">
            {{ form.codigo}}
        </div>
        <div class="col-md-12">
            {{ form.video}}
        </div>
        <div class="col-md-12">
            {{ form.data_cadastro }}
        </div>
        <div class="col-md-12">
            {{ form.marca}}
        </div>
        <div class="col-md-12">
            {{ form.categoria }}
        </div>
        <div class="col-md-12">
            {{ form.especificacao}}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success">Adicionar</button>
        </div>
    </div>
</form>

{%endblock conteudo%}