{% extends 'base.html'%}

{%block conteudo%}


        <form method = "post" action = "{% url 'cadastrar_categorias' %}">

          {% csrf_token %}
          {{form.categoria}}

          <div class="modal-footer">
            <button type = 'submit' class="btn btn-outline-success d-flex justify-content-end">Salvar</button>
            <p>
              <button type = 'button' class="btn btn-outline-success d-flex justify-content-end">Editar</button>
            </p>
          </div>
        </form>
      
{%endblock conteudo%}