{% extends 'base.html'%}

{%block conteudo%}

<main>
    <style>
        .titulo {
            font-size: 24px;
            font-weight: bold;
            color: rgba(2, 175, 175, 0.952);
            text-align: center;
        }
        
        .linha {
            border-bottom: 2px solid rgba(2, 175, 175, 0.952); 
        }
        .texto{
            font-size: 16px;
            color: #000000;
        }
    </style>

    <div class = "container-fluid" style ="height: 30rem">
        <p class="titulo" >REGRAS DE FUNCIONAMENTO</p>
        <div class="linha"></div>
        <p class="texto"><br>
            <li>Aceitamos o pagamento via PIX, Transfêrencia e depositos.</li>
        </p>
        <p>
            <li>Todos os pedidos serão enviados somente através da modalidade SEDEX (Correios) com rastreamento e seguro em até 4 dias úteis após a confirmação de pagamento emitida pelo banco Itaú ou PagSeguro.</li>
        </p>
        <p>
            <li>Após a finalização da compra, enviaremos um orçamento com o valor total da compra incluindo o valor do frete e os dados bancários da Arte em Miniaturas - CNPJ 04816225/0001-71 ou as instruções para efetuar o pagamento através do PagSeguro</li>
        </p>
        <p>
            <li>Miniatura com a denominação (aberto) - significa produto exposto na vitrine, nova, completa e sem a embalagem original.</li>
        </p>
        <p>
            <li>Miniatura com a denominação (no estado) - significa produto usado adquirido através de colecionadores conforme fotos do site.</li>
        </p>
    </div>
</main>

{%endblock conteudo%}