{% extends 'base.html'%}

{%block conteudo%}
    <style>
            .conteudo {
                
                font-size: 16px;
                line-height: 1.5;
                color: #000000;
            }
            
            .titulo {
                font-size: 24px;
                font-weight: bold;
                color: rgba(2, 175, 175, 0.952);
                text-align: center;
            }
            
            .linha {
                border-bottom: 2px solid rgba(2, 175, 175, 0.952); 
            }
            
            .texto16 {
                font-size: 16px;
                color: #000000;
            }
            
            a {
                color: #0000FF;
                text-decoration: none;
            }
            
            a:hover {
                text-decoration: underline;
            }
            
            iframe {
                width: 200px;
                height: 200px;
                border: 0;
                
            }
            .mapa-container {
                top: 470px;
                right: 200px;
                float: right;
            }
    </style>

    <div class="conteudo container-fluid" style ="height: 30rem">

        <p class="titulo ">SOBRE</p>
        
        <div class="linha"></div>

        <div class="mapa-container">
            <br>
            <iframe width="20 px" height="20 px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=av.+paulista,+1471,+loja+14&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=48.581125,93.076172&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Paulista,+1471+-+Bela+Vista,+S%C3%A3o+Paulo,+01311-200&amp;ll=-23.55612,-46.653614&amp;spn=0.031471,0.04283&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://www.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=av.+paulista,+1471,+loja+14&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=48.581125,93.076172&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Paulista,+1471+-+Bela+Vista,+S%C3%A3o+Paulo,+01311-200&amp;ll=-23.55612,-46.653614&amp;spn=0.031471,0.04283&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
            <br>
        </div>

        <p class="texto16"> <br>
            <div style="TEXT-ALIGN:" justify="">Desde 1995 oferecendo novidades e raridades em brinquedos para amantes e colecionadores de miniaturas. Ítens retrô (anos 80) e peças personalizadas, por encomenda.<br></div><br><span style="FONT-WEIGHT:" bold="">Compramos brinquedos e bonecos colecionáveis, novos e usados.</span><div><b><br></b>
        </p>
            <div><span style="FONT-STYLE:" italic=""> Faça-nos uma visita!</span><br><span class="Apple-style-span" style="FONT-STYLE:" normal="">Edifício Barão de Christina - Av. Paulista, n. 1471, loja 14 - São Paulo SP tel: 11-3266-8703&nbsp;</span></div>
        <p>
            <div><span style="FONT-STYLE:" italic="">Horário de funcionamento:&nbsp;</span><br>Segunda à Sexta das 10:30 às 18:30 h&nbsp;</div><div>Sábado das 10:00 às 14:00 h</div></div></span>
        </p>
        
        <div><strong>Mapa de localização da Loja. Av. Paulista, 1471 Loja 14 - São Paulo. &nbsp;</strong></div></div> <p></p>				
        
    </div>

{%endblock conteudo%}